<!-- include  header -->
<%- include('../includes/_header') %>
<!-- / include  header -->

<!-- include nav -->
<%- include('../includes/_nav') %>
<!-- / include nav -->

<!-- include BODY -->
<div class="container"><%- body %></div>
<!-- /include BODY -->

<!-- include default footer -->
<%- include('../includes/_footer.ejs') %>
<!-- /include default footer -->
