<!-- start::ABOUT SECTION -->
<section class="about">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <h2 class="text-center about__header">About Us</h2>
        <h3 class="text-center about__subheader">grow your business with us</h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-12 py-2">
          <figure>
            <img src="img/about.svg" class="img-fluid" alt="" />
          </figure>
        </div>
        <div class="col-md-6 col-12 py-2 about__content">
          <h2 class="about__title about__title--about">we are the professional developers</h2>

          <p class="about__para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione impedit assumenda magni porro, deserunt
            soluta! Velit, dolore atque. Amet, asperiores?
          </p>
          <button class="btn about__button">read more</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end::ABOUT SECTION -->
<!-- start:: SERVICES SECION -->
<section class="services">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center service__header">Our Services</h2>
          <h3 class="text-center service__subheader">grow your business with us</h3>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/1.svg" class="img-fluid" alt="" />
              </figure>
            </div>
            <div class="services__box__bottom">
              <h4>Settings</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/2.svg" class="img-fluid" alt="" />
              </figure>
            </div>

            <div class="services__box__bottom">
              <h4>SpeedUp</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/3.svg" class="img-fluid" alt="" />
              </figure>
            </div>

            <div class="services__box__bottom">
              <h4>Privacy</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/4.svg" class="img-fluid" alt="" />
              </figure>
            </div>

            <div class="services__box__bottom">
              <h4>Backups</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end:: SERVICES SECION -->
