<!-- start:: HERO SECTION -->
<section class="hero">
  <div class="col-md-12 mb-3">
    <div class="row">
      <div class="col-md-6 col-12 hero-text order-md-0 order-1 py-2">
        <h1>we will help you to</h1>
        <h3>grow your business</h3>
        <p>we are the team of <span class="body-style">profesional developer</span></p>
        <button class="btn btn-primary">Dugme</button>
      </div>

      <div class="col-md-6 col-12 hero-text order-md-1 order-0 py-2">
        <figure>
          <img src="growth.svg" alt="" />
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- end:: HERO SECTION -->
