<!-- start:: HERO SECTION -->
<section class="hero">
  <div class="col-md-12 mb-3">
    <div class="row">
      <div class="col-md-6 col-12 hero-text order-md-0 order-1 py-2 hero__left">
        <h1 class="hero__title">we will help you to</h1>
        <h3 class="hero__subtitle">grow your business</h3>
        <p class="hero__para">we are the team of <span class="body-style">professional developers</span></p>
        <button class="btn hero__button">read more</button>
      </div>

      <div class="col-md-6 col-12 hero-text order-md-1 order-0 py-2">
        <figure>
          <img src="growth.svg" class="img-fluid" alt="hero image" />
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- end:: HERO SECTION -->
