<!-- start::ABOUT SECTION -->
<section class="about">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <h2 class="text-center container__header">About Us</h2>
        <h3 class="text-center container__subheader">grow your business with us</h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-12 py-2">
          <figure>
            <img src="img/about.svg" class="img-fluid" alt="" />
          </figure>
        </div>
        <div class="col-md-6 col-12 py-2 about__content">
          <h2 class="container__title">we are the professional developers</h2>

          <p class="container__para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione impedit assumenda magni porro, deserunt
            soluta! Velit, dolore atque. Amet, asperiores?
          </p>
          <button class="btn about__button">read more</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end::ABOUT SECTION -->
