<!-- start:: HERO SECTION -->
<section class="hero">
  <div class="container">
    <div class="col-md-12 mb-3">
      <div class="row">
        <div class="col-md-6 col-12 order-md-0 order-1 py-2 hero__content">
          <h2 class="container__title">we will help you to</h2>
          <h3 class="container__subtitle">grow your business</h3>
          <p class="container__para">we are the team of <span class="body-style">professional developers</span></p>
          <button class="btn hero__button">read more</button>
        </div>
        <div class="col-md-6 col-12 order-md-1 order-0 py-2">
          <figure>
            <img src="img/growth.svg" class="img-fluid" alt="hero image" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end:: HERO SECTION -->
