<!-- start:: SERVICES SECTION -->
<section class="services" id="services">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center container__header">Our Services</h2>
          <h3 class="text-center container__subheader">grow your business with us</h3>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/1.svg" class="img-fluid" alt="" />
              </figure>
            </div>
            <div class="services__box__bottom">
              <h4 class="container__subtitle container__subtitle--services">Settings</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/2.svg" class="img-fluid" alt="" />
              </figure>
            </div>

            <div class="services__box__bottom">
              <h4 class="container__subtitle container__subtitle--services">SpeedUp</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/3.svg" class="img-fluid" alt="" />
              </figure>
            </div>

            <div class="services__box__bottom">
              <h4 class="container__subtitle container__subtitle--services">Privacy</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center mb-5">
          <div class="services__box">
            <div class="services__box__top">
              <figure>
                <img src="svg/4.svg" class="img-fluid" alt="" />
              </figure>
            </div>

            <div class="services__box__bottom">
              <h4 class="container__subtitle container__subtitle--services">Backups</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end:: SERVICES SECTION -->
