// start::HERO, ABOUT SECTION
.hero,
.about,
.services {
  padding: 0.7rem;
}

.hero,
.about {
  &__content {
    @include display-style(flex, center, flex-start);
    flex-direction: column;

    @include media-query(mobile) {
      align-items: center;
      text-align: center;
    }

    @include media-query(tablet) {
      align-items: center;
      text-align: center;
    }
  }

  &__button {
    @include button;
  }
}

.hero {
  background-color: $light-gray;
}

// end::HERO, ABOUT SECTION

// start::SERVICE SECTION
.services {
  background: $light-gray;

  &__box {
    @include display-style(flex, center, center);
    flex-direction: column;
    width: 180px;

    &__top {
      min-height: 120px;
      width: 100px;
    }

    &__bottom {
      text-align: center;

      p {
        color: $gray;
        font-weight: 300;
      }
    }
  }
}
// end::SERVICE SECTION
